body{
    background-color: white;
}

a{
    text-decoration: none;
}

.container{
    width: 70%;
    margin: auto;
    background-color: #efffff;
    border-radius: 15px;
    padding: 15px;
    border: black solid 1px;
}

.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.name{
    margin: 20px 50px;
}
.name a{
    color: black;
    font-size: 26px;
    font-weight: bolder;
}
.logins a{
    float: left;
    display: block;
    margin: auto;
    padding: 20px;
    color: black;
}

.logins a:hover{
    color: darkblue;
}

.logins label{
    margin-top: 6px;
    margin-right: 5px;
    font-size: 16px;
    float: left;
}
.logins input[type=submit]{
    width: auto;
}
.logins input{
    float: right;
    margin-top: 5px;
    font-size: 12px;
    width: 120px;
}

.registration{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.registration form{
    margin: 0 auto;
}
.registration label{
    float: left;
    width: 50%;
    margin-left: 25px;
    margin-top: 5px;
}

.registration input{
    float: right;
    width: 90%;
    font-size: 14px;
}

.registration input[type=submit]{
<<<<<<< HEAD
    display: flex;
    justify-content: center;
=======
>>>>>>> master
    width: auto;
    margin: 20px auto;
}
.login-container{
    margin-left: 25px;
    float: right;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
}

.logins{
    /*margin: 0 50px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
}

li a:hover {
    background-color: #efffff;
    color: black;
}

.footer{
    text-align: center;
}