body{
    background-color: white;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: auto;
    background-color: #efffff;
    border-radius: 15px;
    padding: 15px;
    border: black solid 1px;
}

.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.name{
    margin: 20px 50px;
}
.name a{
    color: black;
    font-size: 26px;
    font-weight: bolder;
}
.logins a{
    float: left;
    display: block;
    margin-top: 20px;
    padding: 10px;
    color: black;
}

.logins a:hover{
    color: darkblue;
}

.logins label{
    margin-top: 6px;
    margin-right: 5px;
    font-size: 16px;
    float: left;
}
.logins input[type=submit]{
    margin-top: 10px;
    width: auto;
}
.logins input{
    float: right;
    margin-top: 5px;
    font-size: 12px;
    width: 120px;
}

.registration{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.registration form{
    margin: 0 auto;
}
.registration label{
    float: left;
    width: 50%;
    margin-left: 25px;
    margin-top: 5px;
}

.registration input{
    float: right;
    width: 90%;
    font-size: 14px;
}

.registration input[type=submit]{
    width: auto;
    margin: 20px auto;
}

.login-container{
    margin-left: 25px;
    float: right;
    margin-right: 30px;
}

.login-container a{
    margin-top: 0;
}

.login-container input[type=submit]{
    margin-right: 5px;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
}

li a:hover {
    background-color: #efffff;
    color: black;
}

footer{
    margin-top: 150px;
    text-align: center;
}


/*example----------------------------------*/
/*https://www.w3schools.com/howto/howto_js_portfolio_filter.asp*/
* {
    box-sizing: border-box;
}

.row {
    margin: 30px;
}

.column {
    float: left;
    width: 25%;
    display: block; /* Hide columns by default */
}

.row,
.row > .column {
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    height: 340px;
    background-color: white;
    border-radius: 10px;
}

.content input[type=image]{
    height: 240px;
    width: 100%;
    padding: 10px;
}

.filterContainer{
    width: auto;
    height: auto;
    padding: 20px;
}

h2{
    text-align: center;
}

.product_info{
    text-align: center;
}

.product-container {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.product-description{
    width: 100%;
}

.left-column {
    width: 50%;
}


.left-column img {
    margin-top: 80px;
    margin-left: 40px;
    width: 70%;
}

.right-column {
    width: 50%;
    margin: 60px;
}

.product-price{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.product-description {
    height: 100%;
}

.description-point{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.cart-btn{
    margin-top: 20px;
    margin-right: 100px;
    float: right;
}

.price-controls input{
    width:75px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    font-size:16px;
    text-align:center;
}

.min-price {
    margin-right:14px;
}

.filterContainer input[type=submit]{
    margin: 15px;
}

.related-products{
    margin-top: 20px;
    float: left;
    width: 100%;
    height: auto;
}

.related-product-img{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    width: 20%;
}

.related-product-img input[type=image]{
    width: 100%;
    height: auto;
}

.tbl-cart{
    width: 70%;
    margin: auto;
    text-align: center;
}

.tbl-cart tr{
    line-height: 20px;
}

table, th, td {
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

.tbl-cart img{
    height: 15px;
}

.cart-total-price{
    width: 100%;
    float: right;
    margin-top: 30px;
    text-align: right;
}

.cart-total-price span{
    margin-right: 250px;
}

.cart-btn-container{
    width: 300px;
    height: 100px;
    float: right;
    margin-right: 140px;
}

.cart-clear-btn,.cart-order-btn{
    float: right;
    margin-top: 30px;
    margin-right: 25px;
}

.isa_error {
margin: 10px 0px;
padding:12px;
color: #D8000C;
background-color: #FFD2D2; 
}
